## Any packet forwarded to a VM can pass through
pass in quick on {{ baremetal_extnic }} from any to 10.0.0.0/24
pass in quick on gw0 from 10.0.0.0/24 to any

## Loopback
pass in quick on lo0 all
pass out quick on lo0 all

## Internal communications
pass in quick from 10.0.0.0/24 to 10.0.0.0/24
pass out quick from 10.0.0.0/24 to 10.0.0.0/24

## ICMP
pass in quick on {{ baremetal_extnic }} proto icmp from any to any icmp-type echo
pass out quick on {{ baremetal_extnic }} proto icmp all keep state

## SSH
pass in quick proto tcp from any to {{ ansible_host }} port = 22
pass out quick proto tcp from {{ ansible_host }} port = 22 to any
pass out quick proto tcp from 10.0.0.0/24 port = 22 to any

## DNS, HTTP[S], NTP
pass out quick proto udp from any to any port = 53 keep frags keep state
pass out quick proto tcp from any to any port = 80 keep frags keep state
pass out quick proto tcp from any to any port = 443 keep frags keep state
pass out quick proto udp from any to any port = 123 keep frags keep state

## Services
pass in quick on {{ baremetal_extnic }} from any to 10.0.0.0/24
pass out quick on {{ baremetal_extnic }} from 10.0.0.0/24 to any
{% for port in exposed_ports | sort %}
pass in quick from any to {{ ansible_host }} port = {{ port.src }}
pass out quick from {{ ansible_host }} port = {{ port.dest }} to any
{% endfor %}

block return-rst in proto tcp all
block return-icmp(host-unr) in proto udp all
block out quick log on {{ baremetal_extnic }}
