# Configured via Ansible
# RTFM if you want the explanations ;)

# Connection
Port                    22
Protocol                2
ListenAddress           0.0.0.0
UseDNS                  no
KeepAlive               yes
Compression             yes
PrintMotd               no
VersionAddendum         none

# Logging
SyslogFacility          AUTH
LogLevel                INFO

# Features
GatewayPorts            yes
PermitTunnel            no
X11Forwarding           no
AllowTcpForwarding      yes
PermitUserEnvironment   yes
Subsystem               sftp    internal-sftp

# Auth
{% if brand == 'joyent' or is_gz %}
HostKey                 /var/ssh/ssh_host_rsa_key
HostKey                 /var/ssh/ssh_host_dsa_key
HostKey                 /var/ssh/ssh_host_ecdsa_key
HostKey                 /var/ssh/ssh_host_ed25519_key
{% else %}
HostKey                 /etc/ssh/ssh_host_rsa_key
HostKey                 /etc/ssh/ssh_host_dsa_key
HostKey                 /etc/ssh/ssh_host_ecdsa_key
HostKey                 /etc/ssh/ssh_host_ed25519_key
{% endif %}
AuthorizedKeysFile      .ssh/authorized_keys
PermitRootLogin         {% if is_gz %}yes{% else %}without-password{% endif %}

StrictModes             yes
AllowAgentForwarding    yes
PubkeyAuthentication    yes
IgnoreRhosts            yes
PermitEmptyPasswords    no
PasswordAuthentication  no
{% if ansible_distribution != 'Alpine' %}
GSSAPIAuthentication    no
GSSAPIKeyExchange       no
KerberosAuthentication  no
{% endif %}
MaxStartups             5:40:10
MaxAuthTries            4
MaxSessions             3
LoginGraceTime          60
{% if brand == 'joyent' -%}

# Enable Joyent smartlogin
PubKeyPlugin libsmartsshd.so
{%- endif %}
