[Unit]
Description=M1cr0blog

[Service]
WorkingDirectory={{ blog_data_dir }}
ExecStart={{ blog_data_dir }}/node_modules/.bin/m1cr0blog
TimeoutStopSec=2
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target